.header {
    @include background-image("header-hero", "jpg", cover, center, no-repeat);

    &-secondary {
        background-color: $color-elements;
        color: white;
        height: 50px;

        a {
            &:hover {
                text-decoration: none;
            }
            div {
                padding: 10px 25px;
            color: white;
            }
        }
    }

    height: 100vh;
    padding: 90px 50px;
    position: relative;
    width: 100%;

    &-filter {
        background-color: rgba(0, 0, 0, .5);
        height: 100vh;
        left: 0;
        position: absolute;
        top:0;
        width: 100%;
    }

    &-nav {
        ul {
            text-align: right;
            li {
                padding-bottom: 25px;
                a {
                    @include link-color($color-text-light, darken($color-text-light, 20%), none, none);

                    font-size: 36px;
                }
            }
        }
    }

    &-title {
        h1 {
            font-size: 72px;
            line-height: 125px;
            text-align: right;
            text-transform: uppercase;
            color: $color-text-light;
        }
        
    }
}